<!DOCTYPE html>
<html>
    <head>
        <title>To do list</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/mycss.css" rel="stylesheet">

        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    </head>
    <body>
		<div id="main">
			<!-- ko foreach: tasks -->
				<p data-bind="text: task"></p>
				<!-- <p data-bind="text: id"></p> -->
			<!-- /ko -->
		</div><!-- #main-->	
		
		<script type="text/javascript">

			function TasksViewModel() {
				var self = this;
				self.tasksURI = 'http://localhost/todo/api/v1.0/tasks';
				self.username = "dean";
				self.password = "Zg6ezmgk";
				self.tasks = ko.observableArray();

				self.ajax = function(uri, method, data) {
					var request = {
						url: uri,
						type: method,
						contentType: "application/json",
						accepts: "application/json",
						cache: false,
						dataType: 'json',
						data: JSON.stringify(data),
						beforeSend: function (xhr) {
							xhr.setRequestHeader("Authorization", 
								"Basic " + btoa(self.username + ":" + self.password));
						},
						error: function(jqXHR) {
							console.log("ajax error " + jqXHR.status);
						}
					};
					return $.ajax(request);
				}

				self.ajax(self.tasksURI, 'GET').done(function(data) {
					for (var i = 0; i < data.tasks.length; i++) {
						self.tasks.push({
							type: ko.observable(data.tasks[i].type),
							task: ko.observable(data.tasks[i].item),
							id: ko.observable(data.tasks[i].id),
							status: ko.observable(data.tasks[i].status)
						});
					}
				});
			}
			ko.applyBindings(new TasksViewModel(), $('#main')[0]);

			</script>
    </body>
</html>
